API_ID=26619891
API_HASH=75be9a269a261be8bc8f5012502c51c5
BOT_TOKEN=5066680346:AAFp6P--VH6dfB7oZIR6u85IrzwvlGsKIC8
LOG_GROUP_ID=-1001226896030
MONGO_DB_URI=mongodb+srv://Rgisop09:Rgisop09@cluster0.lo6sg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7792901125
STRING_SESSION=BQGWL_MAOzCasrRwmK1M76GZW9XaXOghhgE5gYc5EO7AKhTgG6v9lEASQRidH9X5hwZXRucrX_n-Atb3Zx62Ue2fUxE2RSykHxG9KDc44S89CmqUpfxH7v4Vmy_Sjod6MXnF-Ixb3gKMk9DNqZ-q49IBsUapxVcX3ZMKq5RptLsH71xpGHYZ6VY6-JH0zTAuAyoN3oh6nHiC92EqjOMhtPvg1xSaqHdhlsp1UqREGhPacLFPu5P2lbonGblNADYCOjCHWIpxZOjg9UNY9d1u-ziG38RD_nNxpQn3AQ0Q9d8vzUbXb4XvKCAROPJ-ahlZksoB3FkAZn1RV9BeCGV2QATEwFqK2wAAAAHTKUrAAA
